.timeline {
  list-style: none;
  background-color: balck 10%;
  border-radius: 10px;
}
.timeline > li {
  margin-bottom: 60px;
}

/* for Desktop */
@media ( min-width : 640px ){
  .timeline > li {
    overflow: hidden;
    margin: 0;
    position: relative;
  }
  .timeline-h3 {
    margin-bottom: 1px; 
    /* margin-top: 1px; */
  }
  .timeline-date {
    width: 110px;
    float: left;
  }
  .timeline-content {
    width: 75%; 
    float: left;
    border-left: 3px #4F5051 solid;
    padding-left: 20px;
  }
  .timeline-p {
    margin-bottom: 1px;
    margin-top: 1px;
  }
  .timeline-content:before {
    content: '';
    width: 14px;
    height: 14px;
    background: #4F5051;
    position: absolute;
    left: 104.5px;
    top: 27px;
    border-radius: 100%;
  }
}
